*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(220deg,#64b8ec,#ff6b26f3);
  z-index: 1;
  font: 14px/20px  Arial, sans-serif;
  padding: 40px 0;
  color: white;
}

.container {
  margin: 0 auto;
  width: 1000px;
  height: 700px;
  background: #252424;
  border-radius: 5px;
  box-shadow:5px 3px 6px rgb(19, 16, 16);
}

.friend-list {
  width:200px;
  float: right;
  
  .discussion h1 {
    padding: 20px;
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #D8DADF;
  }
  
  input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    color: white;
    background: #6A6C75;
    width: 90%;
    font-size: 14px;
  }
  
  ul {
    padding: 20px;
    height: 770px;
    li {
      padding-bottom: 20px;
      list-style-type: none;
    }
  }
  
  img {
    float: left;
  }
  
  .about {
    float: left;
    margin-top: 8px;
  }
  
  .about {
    padding-left: 8px;
  }
  
  .status {
    color: #92959E;
  }
  
}
.leeft{
  float: left;
  width: 200px;
}
.leeft h2{
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 18px;
    font-weight:bolder;
    font-family: Papyrus;
    text-align: center;
    text-transform: uppercase;
    color: #D8DADF;
}

.chat {
  width: 550px;
  height:700px;
  float:right;
  margin-right: 30px;
  background: #F2F5F8;  
  color: #434651;
  
  .chat-header {
    padding: 30px;
    border-bottom: 2px solid #fff;
    
    img {
      float: left;
    }
    
    .chat-about {
      float: left;
      padding-left: 10px;
      margin-top: 6px;
    }
    
    .chat-with {
      font-weight: bold;
      font-size: 16px;
    }
    
    .chat-num-messages {
      color: #92959E;
    }
  }
  
  .chat-chat {
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.4)),url(../images/sar.jpg);
    padding: 30px 30px 20px;
    border-bottom: 2px solid #fff;
    overflow-y: scroll;
    height: 420px;
    
    .message-data {
      color: lighten(#92959E, 30%);
      margin-bottom: 15px;
    }
    
    .message-data-time {
      color: lighten(#92959E, 50%);
      padding-left: 6px;
    }
    
    .message {      
      color: #fff;
      padding: 18px 20px;
      line-height: 26px;
      font-size: 16px;
      border-radius: 7px;
      margin-bottom: 8px;
      width: 90%;
      position: relative;
      
      &:after {
        bottom: 100%;
        left: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: #29e451;
        border-width: 10px;
        margin-left: -10px;
      }
    }
    
    .my-message {
      color:#ffffff;
      background: #29e451;
    }
    
    .other-message {
      background: hsl(202, 88%, 52%);
      
      &:after {
        border-bottom-color:hsl(202, 88%, 52%);
        left: 93%;
      }
    }
    
  }
  
  .chat-message {
    padding: 40px;
    
    textarea {
      width: 80%;
      border: 2px solid #9fb0c0;
      padding: 10px 20px;
      font: 14px/22px Arial, sans-serif;
      margin-bottom: 10px;
      border-radius: 5px;
      resize: none;
      
    }
    button {
      margin-top: 7px;
      padding: 15px;
      float: right;
      color:#fcfcfc;
      font-size: 15px;
      text-transform: uppercase;
      border: 1px solid #93a6b8;
      border-radius: 5px;
      cursor: pointer;
      font-weight: bold;
      background: #302b2b;
      
      &:hover {
        color: darken(#fdfdfd, 20%);
      }
    }
  }
}


.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.avatar-image{
  width: 70px;
  height: 70px;
}
ul li{
  list-style-type: none;
}